/* ⭐️⭐️⭐️⭐️ */
/* CLIENT  */
/* ⭐️⭐️⭐️⭐️ */

/* global styles */
@import 'reset.css';
@import 'typography.css';


/* server items inladen */
/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';

/* component styling */
@import '../server/components/card/card.css';

/* 💗💗💗💗💗💗💗💗💗 */
/* GENERAL STYLING */
/* 💗💗💗💗💗💗💗💗💗 */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-beige-light);

  color: var(--color-black);
  font-family: var(--font-secundair);

  min-height: 90vh;
}

main{
  min-height: 89.5vh;
}

h1{
  font-size: 3.9em;
  color: var(--color-brown);
}

a{
  text-decoration: none ;
}


ul, ol{
  list-style: none;
}

h2{
  color: var(--color-brown);
  font-size: 2em;
}



:root{
  /* main colors */
  --color-beige: #DDD6CE;
  --color-beige-light: #F5EBDD;
  --color-brown: #6E5849;
  --color-black: #000000;
  --color-white: #FFFFFF; 

  /* accent colors */
  --color-pastel-green: #D4F4DD;
  --color-pastel-blue: #DCEEF2;
  --color-pastel-pink: #FADADD;
  --color-pastel-yellow: #FFF5C3;
  --color-pastel-orange: #F2C6B4;
  
  /* font */
  --font-primair: 'CLAY', sans-serif;
  --font-secundair: 'Quicksand', sans-serif;
  --font-third: "Quicksand", sans-serif;
}



/* view transitions */
::view-transition-old(animal-image-*) {
  animation: fadeOut 1s ease;
}

::view-transition-new(animal-image-*) {
  animation: fadeIn 2s ease;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

