<pre>{{ petfinderData | json }}</pre>

{% layout "server/layouts/base.liquid" %}

{% block content %}
  <h1>Lijst van Dieren</h1>
  <ul>
    {% for animal in petfinderData.animals %}
      <li>{{ animal.id }}</li>  <!-- Toon de ID van elk dier -->
    {% endfor %}
  </ul>
{% endblock %}




