{% comment %} <pre>{{ petfinderData | json }}</pre> {% endcomment %}
{% layout "server/layouts/base.liquid" %}

{% comment %} {% block content %}
  <h1>Lijst van Dieren</h1>
  <ul>
    {% for animal in petfinderData.animals %}
      <li>{{ animal.name }}</li>
      <li>{{ animal.age }}</li>
      <li>{{ animal.id }}</li>
    {% endfor %}
  </ul>
{% endblock %} {% endcomment %}




