.grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid li{
  background-color: lightblue;
  width: 250px;
}


button{
  margin-top: 1.5rem;
  padding: 1rem 4rem;
  border-radius: 5px;
  background-color: blue;
  color: white;

  &:active
  {
    background-color: darkblue;
  }
}

.grid img {
  width: 250px;  height: 250px;
  margin-top: 1rem;
}


.next-page a{
  background-color: blue;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}