{% layout "server/layouts/base.liquid" %}

{% block overview %}

<div>
<h1>Searching for a family</h1>
<h2>Would you love me?</h2>

<p>See all the animals </p>
</div>




<ul class="grid">
  {% for animal in petfinderData.animals %}
    <li>
      <a href="/detail/{{ animal.id }}">
        {% render 'server/components/card/card.liquid', animal: animal, favorites: favorites %}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="next-page">
  {% if currentPage > 1 %}
    <a href="/?page={{ currentPage | minus: 1 }}">Previous</a>
  {% endif %}

  {% if currentPage < petfinderData.pagination.total_pages %}
    <a href="/?page={{ currentPage | plus: 1 }}">Next</a>
  {% endif %}
</div>

{% endblock %}

